article>*:first-child,
aside>*:first-child {
    margin-top: 0 !important;
}

article>*:last-child,
aside>*:last-child {
    margin-bottom: 0 !important;
}

ul:not([class]),
ol:not([class]) {
    margin: 1rem 0;
}

ul:not([class]) li,
ol:not([class]) li {
    padding: 0 0 0 1.5rem;
    position: relative;
}

ul:not([class]) li + li,
ol:not([class]) li + li {
    margin-top: 0.5rem;
}

ul:not([class]) > li > *,
ol:not([class]) > li > * {
    margin: 0.5rem 0 0;
}

ul:not([class]) > li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #019003;
    border-radius: 50%;
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
}

ol:not([class]) {
    counter-reset: count 0;
}

ol:not([class]) > li::before {
    counter-increment: count;
    content: counter(count);
    display: block;
    width: 1.5rem;
    color: #019003;
    text-align: center;
    position: absolute;
    left: 0;
}

pre {
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
}

code:not([class]) {
    padding: 0.2em 0.4em;
    background: #215aa012;
    font-size: .85em;
    border-radius: 4px;
    vertical-align: 0.08em;
}

pre code:not([class]) {
    padding: 1.5rem;
    display: block;
    font-size: .75rem;
    background: #000;
    color: #fff;
    overflow-x: auto;
}

pre code.hljs {
    padding: 1.5rem !important;
    font-size: 0.75rem;
}

blockquote {
    margin: 1rem 0;
}

blockquote p {
    margin: 0;
    padding: 1rem;
    font-size: .75rem;
    border-radius: 10px;
    border: 1px solid #666;
    color: #666;
}

hr {
    margin: 2.5rem 0;
}

table {
    margin: 2rem 0;
    border: 1px solid #333;
}

thead + tbody,
tr +tr {
    border-top: 1px solid #333;
}

th + th,
th + td,
td + td {
    border-left: 1px solid #333;
}

th, td {
    padding: .2rem .5rem;
    min-width: 100px;
}